*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(240, 167, 211 );
}

header{
    height: 10vh;
    width: 100%;  
    font-family: Verdana,Helvetica;
    font-size: 25px;
    position: fixed;
    background-image: url("header.jpg");
    background-position: center;
}

section{
   height: 80vh;
   width: 100%;
   background-color: rgb(167, 208, 240 );
   background-image: url("footer.png") ;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 9.5cm;   
}



button{
    height: 55px;
    width: 180px;
    font-size:22px;
    font-family: "Console", monospace ;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0.1cm;
}


.btn-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
